{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Subir Foto</title>
	<link href="{% static 'css/output.css' %}" rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen">
	<main class="flex items-center justify-center w-full h-full">
		<article class="w-11/12 px-6 py-8 border rounded-lg shadow md:w-6/12 lg:w-4/12 md:px-10 md:py-12">
			<h1 class="mb-6 text-3xl font-bold text-center">Sube Foto del Menú</h1>
			<form method="post" enctype="multipart/form-data" class="flex flex-col gap-y-3">
				{% csrf_token %}
				<div>
					<label for="image" class="text-sm font-semibold">Selecciona el archivo imagen</label>
					<input type="file" name="image" id="image" class="block w-full text-sm border border-gray-200 rounded-lg shadow-sm focus:z-10 focus:border-[#980321] focus:ring-[#980321] disabled:opacity-50 disabled:pointer-events-none file:border-0 file:bg-gray-100 file:me-4 file:py-2 file:px-4">
				</div>
				<button type="submit" class="bg-[#980321] text-white min-w-max w-full font-medium rounded-full p-1.5 px-10 mx-auto mt-4 transition-colors hover:bg-[#b63d56]">
					Subir menu
				</button>
			</form>
		</article>
	</main>
</body>

</html>